// Breakpoints
$breakpoint-mobile-small: 320px;
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop-small: 1024px;
$breakpoint-desktop: 1200px;

// Colors
$color-gray-50: #f9fafb;
$color-gray-100: #f3f4f6;
$color-gray-200: #e5e7eb;
$color-gray-300: #d1d5db;
$color-gray-400: #9ca3af;
$color-gray-500: #6b7280;
$color-gray-600: #4b5563;
$color-gray-700: #374151;
$color-gray-800: #1f2937;
$color-gray-900: #111827;

$color-tan: #cfc7aa;
$color-dark-blue: #272b30;
$color-darker-blue: #1a1c1f;
$color-darkest-blue: #131518;
$color-blue: #383f46;
$color-light-blue: #414a53;

$color-light-green: #748a7c;
$color-green: #587670;
$color-dark-green: #2c3533;

