@import "../../styles/variables.module.scss";

.container {
    display: flex;
    flex-direction: row;
}

.split {
    padding-top: 100px;
    width: 50%;
    height: 100vh;
}

.splitRight {
    width: 45%;
}

.splitLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
}

.content {
    margin-left: 90px;
    margin-right: 180px;
    font-weight: 400;

    .header {
       color: $color-dark-blue;
       font-size: 1.7rem;
       font-weight: 700;
    }

    strong {
        color: $color-dark-blue; 
    }

    .about {
        color: $color-blue;
    }

    section {
        margin-bottom: 20px;
    }

    .skills {
        list-style: disc;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
    
    .skill {
        color: $color-blue;
    }
}

.feature {
    background: rgb(6,36,47);
    background-image: url("https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-position-y: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 90px;
}