@import "../../styles/variables.module.scss";

.container {
    display: flex;
    flex-direction: column-reverse;

    @media (min-width: $breakpoint-desktop) {
        flex-direction: row;
    }
}

.split {
    padding-top: 100px;
    width: 50%;
    min-height: 35vh;

    @media (min-width: $breakpoint-desktop) {
        height: 100vh;
    }
}

.splitRight {
    width: 100%;

    @media (min-width: $breakpoint-desktop) {
        width: 50%;
    }
}

.splitLeft {
    display: flex;
    width: 100%;

    @media (min-width: $breakpoint-desktop) {
        width: 50%;
        justify-content: center;
        align-items: center;
    }  
}

.content {
    margin-left: 30px;
    font-weight: 400;

    .header {
       color: $color-dark-blue;
       font-size: 2rem;
       font-weight: 700;
    }

    strong {
        color: $color-dark-blue; 
    }

    .about {
        color: $color-blue;
    }

    section {
        margin-bottom: 50px;
    }

    .skills {
        list-style: disc;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
    
    .skill {
        color: $color-blue;
    }

    @media (min-width: $breakpoint-desktop) {
        margin-left: 90px;
        margin-right: 180px;
    }
}

.feature {
    background: rgb(6,36,47);
    background: rgba(0,0,0,0.1), url("/headshot2.JPG");
    background:linear-gradient(0deg, rgba(29, 29, 29, 0.4), rgba(36, 36, 36, 0.1)), url("/headshot2.JPG");
    background-size: cover;
    background-position-y: 40%;
    background-position-x: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 90px;
}